<h2>Administración de Equipos</h2>

<a href="@Url.Action("Agregar", "Equipo")">➕ Agregar Nuevo Equipo</a>
<br />
<a href="@Url.Action("AumentarStock", "Equipo")">📦 Aumentar Stock</a>
<br />
<a href="@Url.Action("Administrar", "Equipo")">📋 Ver Todos los Equipos</a>